body {
  background-color: #FFFFFF;
  height: 100%;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif, Verdana, Arial;
}

#container{
  width: auto;
}

#first {

  overflow: hidden;
  display: none;
}

#wrap {
  width: auto;
  height: 240px;
  overflow: hidden;
  display: none;
}

#last {

  overflow: hidden;
  display: none;
}

#game {
  width: auto;
  text-align: center;
}


input[type=text], select, textarea {
  width: 20%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#info {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 100px;
  text-align: left;
  font-size: 9pt;
}

#credits {
  font-size: 10pt;
}

#log {
  color: #666666;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #242833;
  font-
  padding: 20px 10px;
}
.header h1{
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
